doctype html
html(ng-app="exemplo")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/angular.min.js')
    script(type='text/javascript' src='/javascripts/estilocontroller.js')
  body
    block content
