doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript', src='javascripts/index-code.js')
  body
    block content
